// Font weight
$weight-bold: 700;
$weight-semibold: 600;
$weight-medium: 500;
$weight-normal: 400;
//todo delete

// Letter-spacing
$default-letter-spacing: -2%;

// Transition
$default-transition: 0.3s ease;

// Animation
$animation-default: linear infinite forwards 2s;
